body
{
    background: url('Images/fondvert.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #000000;
}

#bloc-page
{
	margin-left:  auto;
	margin-right:  auto;
	width : 800px;
}
#logo
{
	display: inline-block;
	vertical-align: top;
}	
header h1
{   
	display: inline-block;
	vertical-align: top;
}
header
{
	text-align : center;
	background-color: 	#58ac3d;
	margin : 0 auto;
	padding-bottom : 5px;
	width :800px;	
}
h4 
{
	margin : 0 5px 5px 5px;
    }
h1 
{
    border-bottom : 1px solid green;
}	
                 
#pdt {
    font-style : italic;
	font-weight : bold;
	color: maroon;
	font-size: 1.5em;
     }	
#centre
{
    margin-left:  auto;
    margin-right:  auto;
    width : 800px;
}
nav
 {
	display: inline-block;
	vertical-align: top;
        background-color: #ffc098;
	margin : auto;
        width: 158 px;
        text-align: left;
        height: 480px;
}	
nav p
{
        display: block;
        padding-left: 4px;
}

#accueil
{
	margin-left : 1px;
}

 nav a
    {
        font-size: 1.3em;
        color: #181818;
    }
    
 nav a:hover
    {
        border-bottom: 0;
        color: #760001;
    }
section
 {
	display: inline-block;
	vertical-align: top;
        height: 450px;
	background-color:  	#FFC0CB;
	text-align : center;
	vertical-align: top;
	margin : auto;
	width : 640px;
	padding-top : 30px;
}
		
footer
 {	
	padding-top : 10px;
	padding-bottom : 10px;
	background-color: 	#58ac3d;
	clear: right;
	text-align : center;
	margin : 0 auto;
	width :800px;
}
	
table {
		padding-top : 24px;
		padding-bottom : 24px;
		margin: auto; 
		margin-top : 50px;
		border-collapse: collapse;
		border-spacing: 5px 5px;
		text-align: center;
		vertical-align : middle;
	}         
tr, td , th{
		border : 1px solid black;
	}	
td.prix{
		text-align: right;
	}    	